.App {
  text-align: center;
}
.portion {
  font-size: small;
}

.form {
  margin-top: 80px;
  margin-bottom: 20px;
}
/* .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #8064A2 !important;
} */
/* .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .search  {
  background-color: lawngreen;
}

.btn:focus {
  outline: none !important;
} */
p {
  font-size: small;
}
.scroll {
  max-height: 400px;
  overflow-y: auto;
}
.nutrientName {
  font-weight: 600;
}
.foodScroll {
  max-height: 307px;
  overflow-y: auto;
}
.header {
  font-size: 4rem;
  font-weight: 900;
  
}

.main {
  color: white;
  font-size: 2rem;
  font-weight: 900;
}
.submain {
  font-size: 1rem;
}