.App {
  text-align: center;
}
.portion {
  font-size: small;
}

.form {
  margin-top: 80px;
}
/* .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #8064A2 !important;
} */
/* .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .search  {
  background-color: lawngreen;
}

.btn:focus {
  outline: none !important;
} */
p {
  font-size: small;
}
.scroll {
  max-height: 400px;
  overflow-y: auto;
}