.App {
  text-align: center;
}
.portion {
  font-size: small;
}

.form {
  margin-top: 80px;
}
.negative-form {
  margin-top: -60px;
}
p {
  font-size: small;
}
.scroll {
  max-height: 400px;
  overflow-y: auto;
}
.nutrientName {
  font-weight: 600;
}
.foodScroll {
  max-height: 160px;
  overflow-y: auto;
}
.header {
  font-size: 4rem;
  font-weight: 900;
  width: 300px;
  
}

.main {
  color: white;
  font-size: 2rem;
  font-weight: 900;
}
.submain {
  font-size: 1rem;
}

.card-top {
  color: #eadde6;
}

.background-image {
  background-image:url('/public/orange.webp'); 
  background-repeat:no-repeat; 
  background-attachment:fixed; 
  background-size:cover; 
  position: relative;
  min-height:100vh;
}
.page-bottom {
  margin-bottom: 40px;
}

.background-dashboard {
  background-color:#ecdae5;
  background-repeat:no-repeat; 
  background-attachment:fixed; 
  background-size:cover; 
  position: relative;
  min-height:100vh;
}
.flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  
}

.delete-food {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.small-date {
  font-size: x-small;
}