.goalContainer {
    border: 2px solid #010101;
    border-radius: 1rem;
  }
  
  .goalDates {
    color: #808080;
    font-size: 0.8rem;
  }
  
  .goalComplete{
    font-size: 1.1rem;
    font-weight: 300;
    text-decoration: line-through;
    color: #808080;
    ;
  }
  
  .goalNotComplete{
    font-size: 1.1rem;
    font-weight: 300;
    text-decoration: none;
    color: inherit;
  }